.wgs_wrapper {
	
	th, td {padding: 0;}

	// Search Form
	.gsc-input-box {
		border: 2px solid mix($color__brand--primary,$color__background-body,29.5%);
		border-bottom-left-radius: .5em;
		border-top-left-radius: .5em;

		table {margin-bottom: 0;}
	}
	td.gsib_a {padding: .5em .3em .5em .5em;}
	table.gsc-search-box td.gsc-input {
		padding-right: 0;
	}
	.gsc-search-button-v2 {
		@extend .button;
		@extend .button--medium;
		@extend .button--solid--color__primary;
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
		font-weight: normal;
		height: auto;
		margin-left: 0;
	}
	
	// Search Result
	.cse .gsc-control-cse, 
	.gsc-control-cse {padding: 0;}
	
	.cse .gsc-webResult.gsc-result, 
	.gsc-webResult.gsc-result, 
	.gsc-imageResult-classic, 
	.gsc-imageResult-column {
		padding-left: 0;
		border: none;
		&:hover,
		&:focus {border:none;}
	}
	
	.gsc-result-info {
		@include font-size(1);
		margin-left: 0;
		padding-left: 0;
	}
	.gsc-control-cse .gs-spelling, 
	.gsc-control-cse .gs-result .gs-title, 
	.gsc-control-cse .gs-result .gs-title * {
		@include font-size(1.25);
		line-height: 1.5em;
		height: auto;
	}
	.cse .gs-result .gs-snippet, 
	.gs-result .gs-snippet, 
	.cse .gs-spelling-original, 
	.gs-spelling-original {
		@include font-size(1);
		line-height: 1.5em;
	}
	.gs-web-image-box, 
	.gs-promotion-image-box {margin: 0 1em 1em 0;}
	.gs-web-image-box img.gs-image, 
	.gs-promotion-image-box img.gs-promotion-image {border: none;}
	
	// Sort Drop Down
	.gsc-control-cse .gsc-option-menu-container,
	.gsc-control-cse .gsc-option-menu {@include font-size(.75);}
	.gsc-selected-option-container {
		@include font-size(.75);
		border-radius: .5em;
		line-height: 1.5em;
		max-width: auto;
		min-width: auto;
		padding: .25em 28px .25em .5em;
		width: auto!important;
	}
	.gsc-option-menu-item {padding: 0 1em;}
	
	// Pagination
	.gsc-results {
		.gsc-cursor-box {text-align: center;}
		.gsc-cursor {
			@include font-size(1);
		}
	}
	.gsc-results .gsc-cursor-box .gsc-cursor-page {
		background: mix($color__brand--primary,$color__background-body,19.5%);
		border: 1px solid mix($color__brand--primary,$color__background-body,19.5%);
		border-radius: .25em;
		padding: .25em .5em;
		display: inline;
	}
	.gsc-results .gsc-cursor-box .gsc-cursor-current-page {
		background: $color__brand--secondary;
		border-color: $color__brand--secondary;	
		border-bottom-color: darken($color__brand--secondary,10%);
		color: $color__background-body;
		text-shadow: none;
	}

	/*
	form.gsc-search-box,
	table.gsc-search-box td.gsc-input {
		padding: 0;
		position: relative;
	}
	.cse input.gsc-input, input.gsc-input {
		@include font-size(1);
		border: 2px solid mix($color__brand--primary,$color__background-body,29.5%);
		border-top-right-radius: 0;
		border-bottom-right-radius: 0em;
		box-sizing: border-box;
		padding: .5em .3em .5em .5em;
		width: 100%;
	}
	
	// Search Button
	td.gsc-search-button {
		padding: 0;
	}
	input.gsc-search-button {
		@extend .button;
		@extend .button--medium;
		@extend .button--solid--color__primary;
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
		font-weight: normal;
		height: auto;
		margin-left: 0;
	}
	
	// Clear Button
	td.gsc-clear-button {
		padding: 0; 
		width: 0;
	}
	div.gsc-clear-button{
		position: absolute;
		right: 4em;
		top: .65em;
	}
	*/

	// Branding
	.gcsc-branding {
		margin-top: 2em;
		td.gcsc-branding-text {
			overflow: hidden;
			width:47%;
		}
		td.gsc-branding-img-noclear, 
		td.gcsc-branding-img-noclear {
			width: 51px!important;
			text-align: center;
		}
		td.gcsc-branding-text-name div.gcsc-branding-text {text-align: left;}
	}
}

// Search Suggestions
table.gssb_c {margin-top: 2em;}
table.gsc-completion-container {
	@include font-size(1);
	background: white;
	border: 1px solid #BBB;
	border-bottom-left-radius: .25em;
	border-bottom-right-radius: .25em;
	font-family: $font__main;
	tr, td {
		background: white;
		border:none;
		&:hover,
		&:focus {background: mix($color__brand--primary,$color__background-body,9.5%)}
	}
	td {padding: .3em .5em;}
}