// CONTAINER
// ----------
.hero {
	background-color: mix($color__brand--primary,$color__background-body,29.5%);  
	overflow: hidden;
	margin-bottom: 2em;
	position: relative;
	z-index: 1;
	
	.page {
		@include clearfix;
		@extend %row;
		position: relative;
		z-index: 10;
	}
	.entry-content {
		@include span(12 of 12);
		margin-top: 0;
		padding: 3em 0 0;
		text-align: center;
	
		@include breakpoint($medium_up) {
			@include span(6 of 12);
			padding: 3em 0;
			text-align: left;
		}
	}
	h1,
	p {
		opacity: 0;
		animation-delay: 0.3s;
		animation-fill-mode: forwards;
		animation-duration: 0.6s;
	}
	h1 {
		animation-name: bounce-right;
	}
	p {
		animation-name: bounce-left;
	}
	h2 {font-size: 1.8em;}
	.edit-link {display:none;}
	.button {margin: .25em 0;}
}
.introduction__image {
	@include span(12 of 12);
	position: relative;
	bottom: -7px;
	margin-bottom: 0;
	margin-top: 0;
	
	@include breakpoint($medium_up) {
		@include span(6 of 12);
		position: absolute;
		right: gutter();
	}
}