// Table of Contents
// -----------------
.table-of-contents {
	@include breakpoint($large) {
		@include span(3 of 12 last);
		margin-right: 0;
		.fixed {
			overflow-y: auto;  
			position: fixed;
			top: 3em;
			max-width: 246px;
			max-height: 90%;
		}
	}
	@include breakpoint($medium) {
	}
	@include breakpoint($medium_up) {
		display: block;
	}
	padding: 1em 0;
}
.toc-menu {
	animation: fade_in 1s ease-in 1;
	background: mix($color__brand--accent,$color__background-body,9.5%);
	// border: 1px solid $color__brand--accent;
	border-radius: 0.5em;
	padding: 1em;
	
	ul {
		margin: 0 0 0 1em;
		padding: 0;
	}
	li {
		padding: .5em 0;
		list-style: disc;
		li {
			@include font-size(.75);
			list-style: circle;
			li {
				list-style: square;
			}
		}
	}
}